.navbar {
    width: 100%;
    position: relative;
    height: 4rem;
    background-color: rgb(255, 52, 52);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    top: 0;
    font-family: "Public Pixel";
    font-size: 0.8rem;
}


.navbar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.navbar .leftSide img {
    /* width: 5.5rem; */
    width: 4rem;
    float: left;
    margin-left: 1.2rem;
}

.navbar ul {
    padding: 0;
    margin-right: 2rem;
    list-style: none;
    display: flex;
    gap: 1rem;
    /* font-size: 1.2rem; */
    color: white;
    /* font-family: monospace; */
}

.navbar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.menu-button {
    transition: 0.1s; /*options are 0.05, 0.1, 0.25, 0.5, 1*/
}

.menu-button:hover {
    transform: scale(1.3);
}

.navbar a {
    color: inherit;
    text-decoration: none;
}

.button-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 0rem;  */
}